:root {
  --taronja: orange;
  --groc: yellow;
  --vermell: lightcoral;
  --nit: #3e5e6b;

  --midaSol: 130px;

  --tempsAnimacions: 24s;
}
body {
  overflow: hidden;
}

.foreground,
.midground,
.background,
.cel,
.terra {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* ******************* */
/*   HERBA PRIMERA     */
/* ******************* */

.foreground {
  animation: parallax_fg linear var(--tempsAnimacions) infinite both;
  background: url(imatges/foreground_grass.png) 0 100% repeat-x;
  z-index: 4;
}

@keyframes parallax_fg {
  0% {
    background-position: -3584px 100%;
  }
  100% {
    background-position: 0 100%;
  }
}

/* ******************* */
/*   HERBA SEGONA      */
/* ******************* */

.midground {
  background: url(imatges/midground_grass.png) 0 100% repeat-x;
  z-index: 3;
  animation: moureHerba linear var(--tempsAnimacions) infinite both;
}
@keyframes moureHerba {
  0% {
    background-position: -3000px 100%;
  }
  100% {
    background-position: 0 100%;
  }
}
/* ******************* */
/*     MUNTANYES       */
/* ******************* */

.background {
  background-image: url(imatges/background_mountain5.png),
    url(imatges/background_mountain4.png), url(imatges/background_mountain3.png);
  background-repeat: repeat-x;
  background-size: 1800px auto;
  background-position: 0 100%;
  z-index: 2;
  animation: moureMuntanyes linear 30s infinite both;
}

@keyframes moureMuntanyes {
  0% {
    background-position: -1800px 100%;
  }
  100% {
    background-position: 0 100%;
  }
}
/* ******************* */
/*       NUVOL         */
/* ******************* */

#cloud {
  position: relative;
  top: 70px;
  left: -300px;
  opacity: 0;
  z-index: 4;
  animation: moureNuvol var(--tempsAnimacions) linear infinite;
}

.cloud {
  border-radius: 90px / 30px;
  width: 160px;
  height: 50px;
  background: #fff;
  position: absolute;
  top: 10px;
}
.cloud-2 {
  left: 50px;
  top: 0;
}

.cloud-3 {
  left: 110px;
  top: 20px;
}

@keyframes moureNuvol {
  0% {
    opacity: 1;
  }
  25% {
    top: 100px;
  }
  50% {
    left: 50%;
  }
  90% {
    left: 100%;
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    top: 150px;
    left: 110%;
  }
}
/* ******************* */
/*        SOL          */
/* ******************* */

.astresContainer {
  position: absolute;
  z-index: 1;
  left: 25%;
  top: 20%;

  width: 50%;
  height: 90%;

  border-radius: 50%;
  transform: rotate(-50deg);
  animation: var(--tempsAnimacions) girar infinite linear;
}

#sun {
  width: var(--midaSol);
  height: var(--midaSol);
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  animation: colorSol var(--tempsAnimacions) linear infinite;
}

@keyframes girar {
  0% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(310deg);
  }
}
@keyframes colorSol {
  0% {
    background-color: var(--taronja);
    box-shadow: 0 0 50px rgba(255, 165, 0);
  }
  25% {
    background-color: var(--groc);
    box-shadow: 0 0 40px rgb(255, 255, 0);
  }
  55% {
    background-color: var(--vermell);
    box-shadow: 0 0 30px rgb(240, 128, 128);
  }
}
/* ******************* */
/*       LLUNA         */
/* ******************* */

#moon {
  position: relative;
  top: 50px;
  left: 10%;
  z-index: 1;
  opacity: 0;
  animation: colorLLuna var(--tempsAnimacions) infinite linear;
}

.moon {
  width: 100px;
  height: 100px;
  opacity: 1;
  border-radius: 50px;
  background: #fff;
  position: absolute;
}

.moon-2 {
  background: var(--nit);
  position: absolute;
  top: -20px;
  left: 20px;
  animation: colorCel var(--tempsAnimacions) infinite linear;
}

@keyframes colorLLuna {
  45% {
    opacity: 0;
  }
  53% {
    opacity: 0.2;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* ******************* */
/*        CEL          */
/* ******************* */

.cel {
  z-index: 0;

  animation: colorCel var(--tempsAnimacions) infinite linear;
}

@keyframes colorCel {
  0% {
    background-color: rgb(93, 143, 163);
  }
  25% {
    background-color: #87ceeb;
  }
  50% {
    background-color: rgb(86, 132, 150);
  }
  70% {
    background-color: var(--nit);
  }
  100% {
    background-color: #578699;
  }
}
/* ******************* */
/*        Tigre        */
/* ******************* */

.tuna {
  animation: walk-cycle 1.4s steps(12) infinite;
  background: url(imatges/tuna_sprite.png) 0 0 no-repeat;
  height: 200px;
  width: 400px;
  position: absolute;
  bottom: 1px;
  left: 50%;
  margin-left: -200px;
  transform: translateZ(
    0
  ); /* offers a bit of a performance boost by pushing some of this processing to the GPU in Safari*/
}

@keyframes walk-cycle {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -2391px;
  }
}

/* ******************* */
/*      Estrelles      */
/* ******************* */
.estrelles {
  animation: surtidaEstrelles var(--tempsAnimacions) infinite linear;
}
.estrella {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
}

.estrella--1 {
  top: 10%;
  left: 50%;
}
.estrella--2 {
  top: 50%;
  left: 90%;
}
.estrella--3 {
  top: 40%;
  left: 20%;
}
.estrella--4 {
  top: 30%;
  left: 80%;
}
.estrella--5 {
  top: 20%;
  left: 90%;
}
.estrella--6 {
  top: 50%;
  left: 10%;
}
.estrella--7 {
  top: 40%;
  left: 37%;
}
.estrella--8 {
  top: 15%;
  left: 65%;
}
.estrella--9 {
  top: 20%;
  left: 10%;
}
.estrella--10 {
  top: 40%;
  left: 60%;
}

.estrella:nth-child(2n) {
  animation: billantorestrella-parelles 2s infinite;
}
.estrella:nth-child(2n + 1) {
  animation: billantorestrella-inparelles 1s infinite;
}

@keyframes surtidaEstrelles {
  0%,
  50% {
    opacity: 0;
  }
  57% {
    opacity: 1;
  }
  99% {
    opacity: 0.2;
  }
}
@keyframes billantorestrella-parelles {
  0%,
  90% {
    box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 3px 14px rgba(255, 255, 255, 0.3);
  }
}
@keyframes billantorestrella-inparelles {
  0%,
  35%,
  50% {
    box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.3);
  }
  45% {
    box-shadow: 0 0 3px 14px rgba(255, 255, 255, 0.3);
  }
}
