:root{
	--midaSol: 130px;
	--taronja: rgb(252, 172, 25);
	--groc: #ffd630;
	--vermell: #F56A40;
}
body{
	overflow:hidden;
}

.foreground,
.midground,
.background,.cel,.terra {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/* ******************* */
/*   HERBA PRIMERA     */
/* ******************* */

.foreground {
	animation: parallax_fg linear 15s infinite both;
	background: url(imatges/foreground_grass.png) 0 100% repeat-x;
	z-index: 4;
}

@keyframes parallax_fg {  
  0% { background-position: -3584px 100%;} 
  100% {background-position: 0 100%; } 
}

/* ******************* */
/*   HERBA SEGONA      */
/* ******************* */

.midground {
  background:  url(imatges/midground_grass.png) 0 100% repeat-x;
  z-index: 3;
}

/* ******************* */
/*     MUNTANYES       */
/* ******************* */

.background {
  background-image:
    url(imatges/background_mountain5.png),
    url(imatges/background_mountain4.png),
    url(imatges/background_mountain3.png);
    /*url(imatges/background_mountain2.png);
    url(imatges/background_mountain1.png);*/
  background-repeat: repeat-x;
  background-position: 0 100%;
  z-index: 2;
}

/* ******************* */
/*       NUVOL         */
/* ******************* */

#cloud {
	position: relative;
	top: 20px;
	left: -100px;
	opacity: 0;
	z-index: 2;
}



.cloud {
	border-radius: 90px / 30px;
	width: 160px;
	height: 50px;
	background: #fff;
	position: absolute;
	top: 10px;
}

.cloud-2 {
	left: 50px;
	top: 0;
}

.cloud-3 {
	left: 110px;
	top: 20px;
}

/* ******************* */
/*        SOL          */
/* ******************* */



#sun {
	width: var(--midaSol);
	height: var(--midaSol);
	position: absolute;
	border-radius: 50%;
	z-index: 1;
	left: 15%;
	top: calc(50% + var(--midaSol));

	animation: 20s movimentSol linear infinite;
}

@keyframes movimentSol{
	0%{
		top: 50%;
		background-color: var(--taronja);
	}
	20%{
		left: 35%;
		top: 15%;
		background-color: var(--taronja);
	}
	40%{
		left: calc(50% - var(--midaSol));
		top: 5%;
		background-color: var(--groc);
	}
	60%{
		left: 65%;
		top: 20%;
		background-color: var(--groc);
	}
	80%{
		left: 71%;
		top: 30%;
		background-color: var(--vermell);
	}
	100%{
		left: 85%;
		top: 50%;
		background-color: var(--vermell);
	}
}

/* ******************* */
/*       LLUNA         */
/* ******************* */

#moon {
	position: relative;
	opacity: 0;
	top: 20px;
	left: -100px;
	z-index:1;
}

.moon {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: #fff;
	position: absolute;
}

.moon-2 {
	background: #525252;
	position: absolute;
	top: -20px;
	left: 20px;
}

/* ******************* */
/*        CEL          */
/* ******************* */

.cel {
	z-index: 0;
	background-color: #525252;
}

/* ******************* */
/*        Tigre        */
/* ******************* */

.tuna {
  animation: walk-cycle 1s steps(12) infinite;
  background: url(imatges/tuna_sprite.png) 0 0 no-repeat; 
  height: 200px;
  width: 400px;
  position: absolute;
  bottom: 1px;
  left: 50%;
  margin-left: -200px;
  transform: translateZ(0); /* offers a bit of a performance boost by pushing some of this processing to the GPU in Safari*/
}

@keyframes walk-cycle {  
  0% {background-position: 0 0; } 
  100% {background-position: 0 -2391px; } 
}