:root{
	--taronja: orange;
	--groc	 : yellow;
	--vermell: lightcoral;
	--noche  : #3E5E6B;
	
	--midaSol: 130px;

	--tempsAnimacions: 24s;
}
body{
	overflow:hidden;
}

.foreground,
.midground,
.background,.cel,.terra {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
 
/* ******************* */
/*   HERBA PRIMERA     */
/* ******************* */

.foreground {
	animation: parallax_fg linear 24s infinite both;
	background: url(imatges/foreground_grass.png) 0 100% repeat-x;
	z-index: 4;
}

@keyframes parallax_fg {  
  0% { background-position: -3584px 100%;} 
  100% {background-position: 0 100%; } 
}

/* ******************* */
/*   HERBA SEGONA      */
/* ******************* */

.midground {
  background:  url(imatges/midground_grass.png) 0 100% repeat-x;
  z-index: 3;
  animation: moureHerba linear 24s infinite both;
}
@keyframes moureHerba{
	0% { background-position: -3000px 100%;} 
  100% {background-position: 0 100%; } 
}
/* ******************* */
/*     MUNTANYES       */
/* ******************* */

.background {
  background-image:
    url(imatges/background_mountain5.png),
    url(imatges/background_mountain4.png),
    url(imatges/background_mountain3.png);
    /*url(imatges/background_mountain2.png);
    url(imatges/background_mountain1.png);*/
  background-repeat: repeat-x;
  background-position: 0 100%;
  z-index: 2;
}

/* ******************* */
/*       NUVOL         */
/* ******************* */

#cloud {
	position: relative;
	top: 70px;
	left: -300px;
	opacity: 0;
	z-index: 4;
	animation: moureNuvol var(--tempsAnimacions) linear infinite;
}



.cloud {
	border-radius: 90px / 30px;
	width: 160px;
	height: 50px;
	background: #fff;
	position: absolute;
	top: 10px;
}

.cloud-2 {
	left: 50px;
	top: 0;
}

.cloud-3 {
	left: 110px;
	top: 20px;
}

@keyframes moureNuvol{
	0%{
		opacity: 1;
	}
	25%{
		top: 100px;
	}
	50%{
		left: 50%;
	}
	100%{
		opacity: 0;
		
		top: 150px;
		left: 100%;
	}
}
/* ******************* */
/*        SOL          */
/* ******************* */

.astresContainer{
	position: absolute;
	z-index: 1;
	left: 25%;
	top: 20%;

	width: 50%;
	height: 90%;

	border-radius: 50%;
	transform: rotate(-50deg);
	animation: var(--tempsAnimacions) girar infinite linear;
}

#sun {
	width: var(--midaSol);
	height: var(--midaSol);
	position: absolute;
	border-radius: 50%;
	z-index: 1;
	animation: colorSol var(--tempsAnimacions) linear infinite;
}

@keyframes girar {
    0%{
		transform: rotate(-50deg)
	}
	100%{
		transform: rotate(320deg)
	}
}
@keyframes colorSol{
	0%{
		background-color: var(--taronja);
	}
	25%{
		background-color: var(--groc);
	}
	50%{
		background-color: var(--vermell);
	}
}
/* ******************* */
/*       LLUNA         */
/* ******************* */

#moon {
	position: relative;
	top: 50px;
	left: 10%;
	z-index:1;
	opacity: 0;
	animation: colorLLuna var(--tempsAnimacions) infinite linear;
}

.moon {
	width: 100px;
	height: 100px;
	opacity: 1;
	border-radius: 50px;
	background: #fff;
	position: absolute;
}

.moon-2 {
	background: var(--noche);
	position: absolute;
	top: -20px;
	left: 20px;
	animation: colorCel var(--tempsAnimacions) infinite linear;
}

@keyframes colorLLuna{
	45%{
		opacity: 0;
	}
	53%{
		opacity: .2;
	}
	70%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
/* ******************* */
/*        CEL          */
/* ******************* */

.cel {
	z-index: 0;
	animation: colorCel var(--tempsAnimacions) infinite linear;
}

@keyframes colorCel{
	0%{
		background-color: #6398AD;
	}
	25%{
		background-color: #87ceeb;
	}
	50%{
		background-color: rgb(86, 132, 150);
	}
	70%{
		background-color: var(--noche);
	}
	100%{
		background-color: #578699;
	}
}
/* ******************* */
/*        Tigre        */
/* ******************* */

.tuna {
  animation: walk-cycle 1.2s steps(12) infinite;
  background: url(imatges/tuna_sprite.png) 0 0 no-repeat; 
  height: 200px;
  width: 400px;
  position: absolute;
  bottom: 1px;
  left: 50%;
  margin-left: -200px;
  transform: translateZ(0); /* offers a bit of a performance boost by pushing some of this processing to the GPU in Safari*/
}

@keyframes walk-cycle {  
  0% {background-position: 0 0; } 
  100% {background-position: 0 -2391px; } 
}